body {
    background-color: var(--background-color);
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    overflow: hidden;
    
}

.zexus {
    display: flex;
    overflow: hidden;
    align-items: start;
    gap: 26px;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
    margin-bottom: 100px;
}

.header-menu {
    display: flex;
}

.logo {
    margin-right: 13px;
}

.zexus-search {
    padding: 15px 0px 16px 20px;
    width: 30vw;
    background-color: #353A40;
    border: none;
    border-radius: 25px;
    position: relative;
    color: white;
}

.search_button {
    position: absolute;
    margin-left: -50px;
    margin-top: 11px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-car {
    background-color: #353A40;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 0.95;
    }
}

.notification-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    &:hover {
        opacity: 0.95;
    }
    
}

.notification {
    background-color: #353A40;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.actual-notification {
    position: absolute;
    background-color: white;
    width: 13px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 29px;
}

.left-menu {
    margin-left: 26px;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #353A40;
    height: 92vh;
}

.add_friend-button {
    background-color: transparent;
    border: none;
    margin-top: 15px;
}

.line {
    width: 50px;
    height: 5px;
    background-color: #617A9C;
    border-radius: 20px;
    margin-top: 26px;
}

.friends-list {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 0;
    gap: 10px;
}

.friends-list-item {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 4px 4px 61px 0px rgba(34, 60, 80, 0.6);
    &:hover {
        opacity: 0.8;
    }

}
.friends-list-item li {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.add_friend-button {
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
        scale: 1.05;
    }
}

.second-line {
    width: 50px;
    height: 5px;
    background-color: #617A9C;
    border-radius: 20px;
}

.messenger {
    background-color: transparent;
    border: none;
    margin-top: 24px;
    margin-bottom: 10px;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
        scale: 1.05;
    }
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
        transition: 0.5s ease;
        scale: 1.05;
    }
}

.menu-button-list {
    
    display: flex;
    flex-direction: column;
    background-color: #353A40;
    padding: 22px 18px;
    gap: 37px;
    margin: 26px;
    height: 60vh;
    border-radius: 30px;


}

.main-content {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 80px; /* отступ вниз под шапку */
    left: 120px; /* отступ после левого меню */
    right: 120px; /* до правого меню */
    bottom: 20px; /* отступ снизу, если нужно */
    border-radius: 10px;
}



.last-game-card {
    margin-top: 15px;
    display: flex;
    width: 60vw;
    
    max-height: calc(100vh*0.4);

      
    background-color: #353A40;
    border-radius: 41px;
    justify-content: space-between;

}

.last-game-text {
    margin: 24px 11px 67px 40px  ;
}

.user-name {
    color: white;
    font-weight: 700;
}

.last-game-title {
    font-weight: 400;
    font-size: 5vh;
    color: #617A9C;

}

.game-title {
    font-size: 5vh;
    margin-top: 10px;
    font-weight: 700;
    color: white;
    white-space: wrap;

}

.time-in-game {
    color: #617A9C;
    font-weight: 400;
    font-size: 3vh;
}

.continue-button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    width: 17%;
    height: 8%;
    position: absolute;
    color: black;
    font-weight: 900;
    font-style: italic;
    margin-top: 20vh;
    margin-left: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 4px 1px 73px 0px rgba(34, 60, 80, 0.2);
    transition: 0.2s ease;
    &:hover {
        scale: 1.05;
    }
}


.game-poster {
    margin: 13px 30px 30px 0px;
    
}


.games-list {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.games-list-item {
    position: relative;
    background-color: #353A40;
    width: 48vw;
    height: 66px;
    border-radius: 20px;
    margin-right: 30px;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        scale: 1.03;
    }
}

.games-list-gameTitle {
    color: white;
}

.game-info {
    display: flex;
}

.hours-in-game {
    z-index: 1;
}

.games-list-gameTitle {
    margin-top: 12px;
}

.hours-in-game {
    position: absolute;
    margin-top: 40px;
    margin-left: 70px;
    color: #617A9C;
}

.newGames {
    position: absolute;
    margin-top: 42vh;
}

.newGames-title {
    padding-top: 30px;
    display: inline-flex;
    margin-left: 20px;
    font-size: 64px;
    font-family: var(--main-font);
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
        scale: 1.02;
    }
}

.galochka {
    width: 1.2vh;
    margin-left: 10px;
    margin-bottom: 1px;
    margin-top: 6px;
}

.Subtract-button {
    background-color: transparent;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        scale: 1.1;
    }
    &:active {
        scale: 0.95;
    }
}

.Subtract {
    position: absolute;
    margin-left: 65.3vw;
    margin-top: 15vh;
}

.time-bar_under {
    margin-left: 10px;
    width: 60px;
    background-color: gray;
    height: 7px;
    border-radius: 10px;

}

.time-bar-text {
    margin-left: 7px;
}

.cart-icon {
    width: 40px;
    aspect-ratio: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin-left: 11vw;
    margin-top: 31vh;
    background-color: #617A9C;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
        scale: 1.05;

    }
}

.item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


body {
    background: #5f7696; 
}

.side-menu {
    position: absolute;
    margin-top: 69vh;
    margin-left: 96vw;
    width: 70px;
    height: 200px;
    background: #2f343a;
    border-radius: 40px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.icon-btn {

    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
    transition: 0.5s ease;
    &:hover {
        scale: 1.05;
        transform: rotate(45deg);
    }
}

.premium-btn {
    
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: white;
    transition: 0.5s ease;
    &:hover {
        scale: 1.05;
    }
}

.premium-btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: none;
    border: 3px dashed #4a5568;
    border-radius: 20px;
    color: #cfd3d6;
    font-size: 32px;
}


.newGames-list {
    display: flex;
    gap: 20px;
    margin-top: -20px;
}

.newGames-card {
    height: 50vh;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    transition: 0.5s ease;
    &:hover {
        opacity: 0.8;
        scale: 1.03;
    }
}

.Statistic {
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: #353A40;
}

.total-time {
    font-size: 3vw;
}

.circle {
    background-image: url("../Images/Ellipse 20.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
}

.visual-effect {
    width: 70%;
    aspect-ratio: 1;
}

.newGames-button {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.card {
margin-top: 54.5vh;
padding: 40px;
width: 400px;
height: 420px;
margin-left: 600px;
background: #2f333a;
border-radius: 30px;
color: #d7dce4;
position: relative;
box-shadow: 0 0 40px rgba(0,0,0,0.35);
}


::-webkit-scrollbar {
    width: 0;
    height: 0;
}
* {
    scrollbar-width: none;
}
.circle-wrapper {
width: 240px;
height: 240px;
border-radius: 50%;
margin: 0 auto;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}


.outer-dots {
position: absolute;
width: 100%;
height: 100%;
border-radius: 50%;
background: radial-gradient(circle, rgba(255,255,255,0.15) 1px, transparent 2px);
background-size: 8px 8px;
opacity: 0.25;
}


.inner-circle {
width: 160px;
height: 160px;
border-radius: 50%;
border: 1px solid rgba(255,255,255,0.1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}


.inner-circle .label {
    font-size: 16px;
}



@media (max-width: 1366px ) {
    
}