.games-list {
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.games-list-item {
    position: relative;
    background-color: #353A40;
    width: 48vw;
    height: 66px;
    border-radius: 20px;
    margin-right: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.games-list-item:hover {
    scale: 1.03;
}

.games-list-gameTitle {
    color: white;
    margin-top: 12px;
}

.game-info {
    display: flex;
}

.hours-in-game {
    position: absolute;
    margin-top: 40px;
    margin-left: 70px;
    color: #617A9C;
    z-index: 1;
}