.last-game-card {
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
    width: 40vw;
    max-height: calc(100vh * 0.4);
    background-color: #353A40;
    border-radius: 41px;
    justify-content: space-between;
    overflow: hidden; /* Это предотвратит выход содержимого за границы */
}

.last-game-text {
    margin: 24px 11px 67px 40px;
}

.user-name {
    color: white;
    font-weight: 700;
}

.last-game-title {
    font-weight: 400;
    font-size: 5vh;
    color: #617A9C;
}

.game-title {
    font-size: 5vh;
    margin-top: 10px;
    font-weight: 700;
    color: white;
    white-space: wrap;
}

.time-in-game {
    color: #617A9C;
    font-weight: 400;
    font-size: 3vh;
}

.continue-button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    width: 17%;
    height: 8%;
    position: absolute;
    color: black;
    font-weight: 900;
    font-style: italic;
    margin-top: 30vh;
    margin-left: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 4px 1px 73px 0 rgba(34, 60, 80, 0.2);
    transition: 0.2s ease;
}

.continue-button:hover {
    scale: 1.05;
}


.last-game-card {
    margin-top: 15px;
    display: flex;
    width: 40vw;
    max-height: calc(100vh * 0.4);
    background-color: #353A40;
    border-radius: 41px;
    justify-content: space-between;
    overflow: hidden;
}

.last-game-text {
    margin: 24px 11px 67px 40px;
    flex: 1; 
    min-width: 0;
}

.game-poster {
    flex-shrink: 0; /* предотвращает сжатие */
    width: 200px; /* фиксированная ширина */
    margin: 13px 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
