.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 20px;
    margin-bottom: 100px;
}

.header-menu {
    display: flex;
}

.logo {
    margin-right: 13px;
}

.zexus-search {
    padding: 15px 0 16px 20px;
    width: 30vw;
    background-color: #353A40;
    border: none;
    border-radius: 25px;
    color: white;
}

.search_button {
    position: absolute;
    margin-left: -50px;
    margin-top: 11px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-car {
    background-color: #353A40;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.car-button:hover {
    opacity: 0.95;
}

.notification-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.notification-button:hover {
    opacity: 0.95;
}

.notification {
    background-color: #353A40;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actual-notification {
    position: absolute;
    background-color: white;
    width: 13px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-left: 29px;
}