.Statistic {
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: #353A40;
}

.total-time {
    font-size: 3vw;
}

.circle-wrapper {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-dots {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 1px, transparent 2px);
    background-size: 8px 8px;
    opacity: 0.25;
}

.inner-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.inner-circle .label {
    font-size: 16px;
}